{
    "port": {{ .Env.SERVER_PORT }},
    "debug_level": "info",
    "nb_players_per_world": {{ .Env.NB_PLAYERS }},
    "nb_worlds": {{ .Env.NB_WORLDS }},
    "map_filepath": "./server/maps/world_server.json",
    "metrics_enabled": false,
    "use_one_port": true,
    "redis_port": {{ .Env.REDIS_PORT }},
    "redis_host": "{{ .Env.REDIS_HOST }}",
    "memcached_host": "127.0.0.1",
    "memcached_port": 11211,
    "game_servers": [{"server": "localhost", "name": "localhost"}],
    "server_name" : "localhost",
    "production": "heroku",
    "database": "redis"
}